<p id="notice"><%= notice %></p>

<h1>Events</h1>

<p> Previous Events </p>
<ul>
    <% @prev_events.each do |event| %>
      <%= render 'events/event', event: event %>
    <% end %>
</ul>


<p> Upcoming events </p>
<ul>
    <% @upcoming_events.each do |event| %>
      <%= render 'events/event', event: event %>
    <% end %>
</ul>